<!DOCTYPE html>
<html>
<head>
  <title>ZipcodeLocator</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDFk6-rL_OjK5EcUbpDxLGK_UcWhwVclkg" %>
  <%= favicon_link_tag "map.png" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= yield %>
<h6>Favicon by FatCow Web Hosting (http://www.fatcow.com/free-icons/) [<a href="http://creativecommons.org/licenses/by/3.0/us/deed.en">CC BY 3.0 us</a>], <a href="http://commons.wikimedia.org/wiki/File%3AFarm-Fresh_map.png">via Wikimedia Commons</a></h6>
</div>
</body>
</html>
